body {
	margin : 0;
	background-color : #FFF1E5;
}

main {
	margin : 0 auto;
	width : 94%;
}

/*	----	HEADER	----	*/

.logo_container{
	height : 2rem;
	padding : 0;
	overflow : hidden;
}

.logo{
	height : 2rem;
}

nav{
	display : flex;
	background-color : #844242;
	align-items : center;
}

nav li{
	list-style-type : none;
	padding-left : 1.4em;
	text-align : center;
}

ul{
	display : flex;
	margin : 0;
	padding : 0;
}

nav a{
	font-weight : bold;
	color : white;
	padding-bottom : 0.1em;
	text-decoration : none;
}
nav ul a:hover{
	color : #660A0A;
	border-bottom : 0.15em solid #660A0A;
}

.current_page {
	color : #660A0A;
	border-bottom : 0.15em solid #660A0A;
}

/*	----	CONTENT	----	*/

h1 {
	color : #BD1515;
}


h2 a {
	color : #F06305;
	text-decoration : none;
}

h2 a:hover {
	color : #BD4E04;
}

h2 a::before {
	content : "#";
	margin-right : 0.25em;
}

img {
	block-size : auto;
	max-inline-size : 100%;
	vertical-align : middle;
}

figcaption {
	font-size : 0.9em;
	font-style : italic;
}

figure {
	text-align : center;
}

pre {
	tab-size : 4;
}

dt {
	font-weight : bold;
}

dd {
	margin-left : 1em;
}

main p, #footnotes {
	text-align : justify;
}

.article-list {
	list-style : none;
	padding-left : 0;
}

.article-list .pubdate {
	font-style : normal;
	margin-right : 1em;
}

.code_block {
	background-color : #FFE6D5;
	border-color :	#5D5854;
	border-style : solid;
	border-width : 2px;
	color : #95525F;
	margin : 0 auto;
	max-inline-size : 30em;
}

.code_caption {
	background-color: #965460;
	color : #ECE2CF;
	font-style : italic;
}

.code_content {
	font-weight : bold;
	padding-left : 1em;
}

.code_inline {
	background-color : #FFE6D5;
	color : #95525F;
	font-weight : bold;
	padding : 0 0.3em;
}

.pubdate {
	font-size : 0.9em;
	font-style : italic;
}

@media all and (min-width : 70em) {
	main {
		width : 65em;
		margin : 0 auto;
	}
}

/*	----	ABOUT	----	*/

blockquote {
	background-color : #FFFBF7;
	color : black;
	padding : 10px;
	text-align : justify;
	border-left : 8px solid #844242;
}

h3{
	margin : 0;
	text-align : center;
	color : #844242;
}

.attrib{
	color : black;
	font-size : 0.8em;
}
